.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px 13px 0 20px;
}

.metadata {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.query {
	text-transform: capitalize;
	margin-bottom: 0;
}

@media screen and (max-width: 950px) {
	.header {
		flex-direction: column;
		align-items: center;
	}
}